<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>petition: moving the 489 lecture to the evening.</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous"
>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/Petition.js"></script>
</head>
<body>
    <div class="mainpage">
        <div class="container">
            <div class="row">
                <div class="col header-link">
                    <a href="https://google.com">
                        <img src="/images/logo.svg" width="100" height="100">
                        PETITIONS
                    </a>
                </div>
                <div class="col right-align">
                    <div class="col navbar-top align-items-end">
                        <nav>
                            <a href="https://google.com">Start a petition</a>
                            <a href="https://google.com">Browse</a>
                            <a href="https://google.com">Sign in</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <img src="/images/hero_image.jpg">
                    <h1>Move the 489 lecture to the evening!</h1>
                    <div class="grey-font">By: Bryce Moser</div>
                    <div>supporter bar graphic here</div>
                    <div class="info">
                        We, the undersigned members of the CPTS 489 course community, respectfully request the consideration of moving the class schedule from its current 8 AM time slot to the evening hours. As committed students passionate about our academic pursuits, we believe that relocating the course to the evening will facilitate greater attendance and participation among our peers. The early morning timing poses significant challenges for many students, including those with long commutes, work commitments, or other academic obligations, limiting their ability to fully engage with the course material and contribute meaningfully to class discussions.

By moving CPTS 489 to the evening, we aim to foster a more inclusive and accessible learning environment that accommodates the diverse needs and schedules of our student body. This adjustment would not only enhance the overall learning experience but also promote student success and academic excellence within the program. We urge the administration and relevant stakeholders to consider our petition and collaborate with the student body to implement this change, thereby ensuring that every student has the opportunity to thrive and excel in their educational endeavors.</div>

                    <div class="row">
                        <div class="col">
                            <button onclick="window.location.href='https://google.com';">
                                SHARE
                            </button>
                        </div>
                        <div class="col">
                            <button onclick="window.location.href='https://google.com';">
                                TWEET
                            </button>
                        </div>
                        <div class="col">
                            <button onclick="window.location.href='https://google.com';">
                                EMAIL
                            </button>
                        </div>
                        <div class="col">
                            <button onclick="window.location.href='https://google.com';">
                                EMBED
                            </button>
                        </div>
                    </div>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="row"><%= signatures.length %> supporters</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (signature of signatures) { %>
                          <tr>
                            <td><%= signature.firstname + ' ' + signature.lastname.charAt(0)%>.</td>
                            <td class="text-right"><%= signature.createdAt%></td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                </div>
                <div class="col-4">
                    <form method="post" action="/submitted" onsubmit="return validateForm()">
                        <fieldset>
                          <legend>Sign Petition</legend>
                          <%- include('resultmsg') %>
                          <div id="liveAlertPlaceholder"></div>
                          <div>
                            <label for="firstname">First name</label>
                            <input
                              type="firstname"
                              id="firstname"
                              name="firstname"
                              placeholder="first name"
                            />
                          </div>
                          <div>
                            <label for="lastname">Last name</label>
                            <input
                              type="lastname"
                              id="lastname"
                              name="lastname"
                              placeholder="last name"
                            />
                          </div>
                          <div>
                            <label for="Email">Email</label>
                            <input
                              type="text"
                              id="email"
                              name="email"
                              placeholder="email@email.com"
                            />
                          </div>
                          <button type="submit">Sign Now</button>
                        </fieldset>
                      </form>
                </div>
            </div>
        </div>
    </div>
    
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
    crossorigin="anonymous">
    </script>
</body>
</html>